<div class="about-container">
  <h1>About Me</h1>
  <div>
    <p>
      Hello! My name is Alexandros Chrissafacis, and I am a passionate Full Stack Developer with a strong foundation in both front-end and back-end technologies. <br>
      Ever since I was young, I’ve been fascinated by computers, technology, and how things work under the hood.
      Programming allows me to channel my creativity into solving complex problems and crafting efficient and elegant solutions.<br>
      <br>

      I recently graduated from PXL University of Applied Sciences with a Professional Bachelor’s Degree in Applied Informatics, specializing in Application Development.<br>
      During my studies, I completed diverse internships and made many projects that gave me valuable hands-on experience in building, optimizing, and maintaining applications.<br>
      <br>

      When I’m not coding, I enjoy cooking, flying drones, gaming, and engaging in social activities.
      These hobbies not only keep me balanced but also fuel my creativity and problem-solving skills.
    </p>
  </div>
  <p>
    Want to learn more about my journey? Take a look at my resume by clicking the button below.
  </p>
  <button class="cv-button" (click)="openCV()">Open Resume</button>
</div>
